{% extends 'base.html' %}
{% block main_content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Staff Notifications</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'app:teacher_home' %}">Dashboard</a></li>
               <li class="breadcrumb-item active">Notifications</li>
            </ul>
         </div>
      </div>
   </div>

   {% include "includes/messages.html" %}

   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-hover table-center mb-0">
                     <thead>
                        <tr>
                           <th style="width: 20%;">Date</th>
                           <th>Message from Director</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in notifications %}
                        <tr>
                           <td>{{ i.created_at|date:"d M Y, H:i" }}</td>
                           <td>{{ i.message }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                           <td colspan="2" class="text-center">No notifications found.</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
