{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>All Registered Learners</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Parent Mobile</th>
                <th>Session</th>
            </tr>
        </thead>
        <tbody>
            {% for learner in learners %}
            <tr>
                <td>{{ learner.admin.first_name }} {{ learner.admin.last_name }}</td>
                <td>{{ learner.gender }}</td>
                <td>{{ learner.parent_mobile }}</td>
                <td>{{ learner.session_year_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}