{% extends 'base.html' %}
{% block main_content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Class</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app:view_class' %}">Classes</a></li>
                    <li class="breadcrumb-item active">Add Class</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'app:add_class' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Class Name</label>
                                    <input type="text" name="class_name" class="form-control"
                                        placeholder="e.g. Primary One" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add Class</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
