{% extends 'base.html' %}
{% block main_content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Add Session</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app:view_session' %}">Session</a></li>
                    <li class="breadcrumb-item active">Add Session</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'app:add_session' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Session Information</span></h5>
                            </div>

                            {% if messages %}
                            <div class="col-12">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Start Date</label>
                                    <input type="date" name="session_year_start" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session End Date</label>
                                    <input type="date" name="session_year_end" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-12 mt-3 text-right">
                                <button type="submit" class="btn btn-primary">Add Session</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
