{% extends 'base.html' %}
{% block main_content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">School Staff</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'app:hod_home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Staff</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Qualification</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in staff %}
                                <tr>
                                    <td>{{ member.teacher_id }}</td>
                                    <td>{{ member.admin.first_name }} {{ member.admin.last_name }}</td>
                                    <td>{{ member.admin.email }}</td>
                                    <td>{{ member.qualification }}</td>
                                    <td>{{ member.get_gender_display }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
